@charset "utf-8";
/* styles.css */

.border-highlight{
border: 4px dashed #f8f9fa;
padding:0.03em 0.25em;
background-color: #212529;
}


.highlight-container, .highlight {
position: relative;
}

.highlight-container {
display: inline-block;
}
.highlight-container:before {
content: " ";
display: block;
height: 90%;
width: 100%;
margin-left: -3px;
margin-right: -3px;
position: absolute;
background: #ffd500;
transform: rotate(2deg);
top: -1px;
left: -1px;
border-radius: 20% 25% 20% 24%;
padding: 10px 3px 3px 10px;
}

.title-word {
animation: color-animation 4s linear infinite;
}

.title-word-1 {
--color-1: #495057;
--color-2: #8399a2;
--color-3: #dee2e6;
}

.title-word-2 {
--color-1: #dee2e6;
--color-2: #495057;
--color-3: #8399a2;
}

.title-word-3 {
--color-1: #8399a2;
--color-2: #dee2e6;
--color-3: #495057;
}

.title-word-4 {
--color-1: #3D8DAE;
--color-2: #DF8453;
--color-3: #E4A9A8;
}

@keyframes color-animation {
0%{color: var(--color-1)}
32% {color: var(--color-1)}
33% {color: var(--color-2)}
65% {color: var(--color-2)}
66% {color: var(--color-3)}
99% {color: var(--color-3)}
100%{color: var(--color-1)}
}
